nav{
    background: linear-gradient(to right,#9999,#333);
    color: #fff;
    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 22px;

        
       
    }
    .content ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 20%;
        margin: 0;
    }

    .content li{
        cursor: pointer;
        font-size: 22px;
        color: #e3ceff;
        text-decoration: none;
    }
}
