/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/dist/css/bootstrap.css";
body{
    padding: o;
    margin: 0!important;

}
*{
    font-family: cursive;
}
